*{
  &, &::before, &::after{
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    border: none;
    box-sizing: border-box;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
    text-align: inherit;
  }
}
a, button, input, select, textarea{
  &:focus{
    outline: none;
  }
}
a{
  text-decoration: none;
}
body{
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
}
button, label, select{
  cursor: pointer;
}
button{
  background-color: transparent;
  border: none;
}
html{
  @include text('body');
  background-color: $color-body;
  color: $color-text;
  font-family: $font-family-default;
  height: 100%;
  text-align: left;
}
iframe, img{
  display: block;
  max-width: 100%;
}
ol, ul{
  list-style-position: inside;
}
